@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Light.ttf");
}

@media only screen and (min-width: 750px) {
    #navigation {visibility: hidden;}
    }
@media only screen and (max-width: 750px) {
    #us,#blog,#kontakt,#twitch,#twitter,#instagram,#youtube {visibility: hidden;}
}

    body {
        margin: 0;
        font-family: Poppins;
        font-weight: 300;
    }

    .header {
        background-color: #d3d3d3;
        padding: 20px 50px;
        margin: 10px;
    }
    .upperpart {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        margin-top:10px;
        display: flex;
    }

    .icons {
        display: flex;
    }

    #us{
        margin-right: 10px;
    }

    #blog {
        margin-right: 10px;
        text-decoration: underline;
    }

    #kontakt {
        margin-right: 25px;
    }

    .bi-bi-oben{
        margin-right: 15px;
    }

    .lowerpart {
        display: flex;
    }

    .mid {
        margin-top: 60px;
        margin-bottom: 90px;
        margin-left: 300px;
        margin-right: 300px;
    }

.spalten{
    display: flex;
    justify-content: center;
}

.links{
    width: 300px;
}

.l-oben{
    margin-bottom: 40px;
    max-width: 300px;
}

.l-mitte{
    margin-bottom: 40px;
}

.mitte{
    margin-left:40px;
    margin-right: 40px;
    width: 500px;
}

.m-oben{
    margin-bottom: 40px;
}

.m-mitte{
    margin-bottom: 40px;
}

.ml{
    text-decoration: underline;
}

.rechts{

    width: 400px;
}

.r-oben{
    margin-bottom: 40px;
}

.r-mitte{
    margin-bottom: 40px;
}

.icons-unten{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.bi-unten-icons{
    margin-left: 50px;
}

#mwh {
    text-align: center;
}
